<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key = "sourceFilePath" value="C:\Users\Виталий\Desktop\NET-Training\M13.Streams.Task\ConsoleClient\bin\Debug\SourceText.txt"/>
    <add key = "destinationFiePath" value="C:\Users\Виталий\Desktop\NET-Training\M13.Streams.Task\ConsoleClient\bin\Debug\OutputText.txt"/>
  </appSettings>
</configuration>